<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
    <style>
        .facebook {
            background-color: lightgray;
            width: 1264px;
            height: 560px;
        }
        .label-1 {
            color: blue;
            font-size: 38px;
        }

    </style>
</head>
<body>
    <div class="facebook">
        <div class="left-side-face">
            <div class="label-1">
                facebook
            </div>
            <div class="label-2">
                Recent logins
            </div>
            <div class="label-3">
                Click your picture or add an account.
            </div>
        </div>
    </div>
</body>
</html>