<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <style>
      .delete {
        background-color: red;
        color: black;
      }

      .edit {
        background-color: orange;
        color: black;
      }
    </style>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Users</h1>
      <p>Welcome to admin & user protal</p>

    </div>
  </main>
</body>
<footer>
  <%- include('../partials/footer'); %>
</footer>

<script>
  
</script>

</html>