<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
    <style>
        .facebook {
            background-color: black;
            width: 1344px;
        }
        .name {
            color: blue;
            font-size: 38px;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="facebook">
        <div class="name">
            facebook
        </div>
    </div>
</body>
</html>